.container {
  .box {
    border: 1px solid #ccc;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
  }
}
